<h1>Leigh Hackspace</h1>
<p>Welcome to the Leigh Hackspace user area. We plan to add lots of features for members. If you'd like to get involved, the repo is <%= link_to "[HERE]", "https://github.com/leigh-hackspace/hackspace-management-system-rails" %>.</p>

<p>
  Leigh Hackspace is an  inclusive shared social and work space for makers, artists, creators, ‘hackers’, crafters, designers, fixers, geeks and nerds from Leigh and the entire surrounding area. Our main website can be found <%= link_to "[HERE]", "http://www.leighhack.org/" %>
</p>
