.navbar {
    position: absolute;
    top: 0;
    border-radius: 0;
    background: #e00039;
    list-style: outside none none;
    width: 100%;
    line-height: 30px;
    min-height: 30px;
}

.login {
    padding-left: 10px;
}
